* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #c94949;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  flex-direction: column; 
}

.container {
  max-width: 100%;
  width: 100%;
  text-align: center;
  background-color: rgb(222, 16, 16);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #f5ec3b;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 2em;  
}

ul.pokemon-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}




